@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Comforter&family=Cookie&family=Dancing+Script:wght@400;600&family=Pacifico&family=Patrick+Hand&family=Permanent+Marker&family=Poppins:wght@100;300;400;500;600;700;900&family=Sacramento&family=Satisfy&display=swap");

/* Root style */
:root {
  --back-color: #282828;
  --hover-color: #5bacdf;
  --text-color: #f5f5f5;
  --text-color-brand: #30fbef;
  --btn-back-color: #282828;
  --dark-back: #292b2e;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.wrapper {
  padding: 1.7rem 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--back-color);
  color: #fff;
  display: flex;
  flex-direction: column;
}

/* Nav section style */

.container {
  position: relative;
  background-color: var(--back-color);
  max-width: 110rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 60px;
  margin-right: 0.6rem;
}

.logo h3 {
  color: var(--text-color-brand);
  font-size: 26px;
  line-height: 42px;
  font-weight: 700;
}

.links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.links a {
  color: var(--text-color);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  margin-left: 4.5rem;
  display: inline-block;
  transition: 0.3s;
}

.links a:hover {
  color: var(--hover-color);
  transform: scale(1.1);
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.9rem;
  background-color: var(--btn-back-color);
  color: #fff !important;
  font-size: 18px;
  line-height: 42px;
  text-decoration: none;
  margin-left: 4.5rem;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: #30fbef 0px 2px 10px;
}

.btn:hover {
  background-color: var(--hover-color);
  transform: scale(1) !important;
}

/* hero section style */

.main-wrapper {
  background-color: var(--back-color);
  padding: 3rem 0;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 60px;
}

.hero-section .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* or grid-template-columns: 1fr, 1fr; */
  align-items: center;
  justify-content: center;
}

.big_title {
  font-size: 1.9rem;
  color: var(--text-color-brand);
  font-weight: 700;
  line-height: 1.4;
}

.text {
  font-size: 1.25rem;
  color: var(--text-color);
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
}

.hero_btn .btn {
  margin-top: 2rem;
  display: inline-block;
  padding: 0.9rem 1.9rem;
  background-color: var(--btn-back-color);
  color: #fff !important;
  font-size: 18px;
  line-height: 42px;
  text-decoration: none;
  margin-left: 0.5rem;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: #30fbef 0px 0px 5px;
}

.hero_btn .btn:hover {
  background-color: var(--hover-color);
  transform: scale(1) !important;
}

/* hero2 section style */
.hero2-section .container {
  height: 560px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 120px;
  border: 10px solid var(--back-color);
  border-radius: 45px;
  background-color: var(--dark-back);
  box-shadow: --var(--back-color) 0px 0px 10px;
  align-items: center;
  justify-content: center;
}

.hero2-section .big_title {
  font-size: 1.5rem;
  color: var(--text-color-brand);
  font-weight: 700;
  line-height: 1.4;
}

.text {
  font-size: 1.25rem;
  color: var(--text-color);
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
}

/* features section style */
.features-section .container {
  margin-top: 120px;
  height: 1100px;
  border: 10px solid var(--back-color);
  border-radius: 45px;
  background-color: var(--dark-back);
  box-shadow: --var(--text-color) 0px 0px 10px;
  align-items: center;
  justify-content: center;
}

.features-section .features .boxes img {
  width: 240px;
  height: 240px;
  margin-left: 70px;
}

.features-section .big_title {
  margin-top: 2rem;
  font-size: 40px;
}

.features-section .features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 120px;
}

.features-section .features .boxes {
  margin-top: -2rem;
  padding: 2rem;
  border: 10px solid var(--back-color);
  border-radius: 45px;
  background-color: var(--back-color);
  box-shadow: --var(--text-color) 0px 0px 5px;
  height: 640px;
  width: 475px;
}

.features-section .features .title {
  font-size: 1.5rem;
  color: var(--text-color-brand);
  font-weight: 700;
  line-height: 1.4;
}

.features-section .features .text {
  font-size: 16px;
  line-height: 2;
  margin-top: 1rem;
}

.features-section .features .btn {
  box-shadow: #031110 0px 0px 10px;
}

.download-secton {
  position: relative;
  margin-top: 120px;
  height: 608px;
  border: 10px solid var(--back-color);
  border-radius: 45px;
  background-color: var(--dark-back);
  box-shadow: --var(--text-color) 0px 0px 10px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.download-secton .text {
  font-size: 1rem;
  color: var(--text-color);
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
}

.download-secton .left {
  margin-left: 4rem;
}

.download-secton .right {
  margin-right: -8rem;
  margin-top: -10rem;
  width: 900px;
  height: 700px;
  margin-left: 10rem;
  overflow: visible;
}


/* Testimonials style */

.testimonial-section .container {
  margin-top: 120px;
  height: 700px;
  border: 10px solid var(--back-color);
  border-radius: 45px;
  background-color: var(--dark-back);
  box-shadow: --var(--text-color) 0px 0px 10px;
  align-items: center;
  justify-content: center;
}



.testimonial-section .container .testimonials .boxes  {

  margin-top: -2rem;
  margin-left: -4rem;;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

}

.testimonial-section .container .testimonials .boxes img {
  margin-top:80px;
  width: 645px;
  height: 330px;
  margin-left: 70px;

}

.testimonial-section .big_title {
  margin-top: 4rem;
  font-size: 1.5rem;
}


.subscribe {
  width:1350px;
  height: 110px;
margin-left: 15%;
  align-items: center;
  justify-content: center;
  

}


/* Testimonials style */